<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.eaudioplayer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Add your live Simplify public key here -->
        <meta-data
            android:name="com.example.android.eaudioplayer.apiKey"
            android:value="lvpb_MmNlNjE3MjctNmRmYy00NmY4LWI0MzEtNTVhY2RhYjU3Njcx" />

        <!-- Add your Android Pay public key here -->
        <!-- To retrieve your Android Pay public key, visit your account settings at -->
        <!-- https://www.simplify.com/commerce/app#/account/profile -->
        <meta-data
            android:name="com.example.android.eaudioplayer.androidPayPublicKey"
            android:value="BOjsfmPb3gOPnIhKOfyKH3Kxa8XX7nzynLbRkL30oA6z2gFfKPLjCeqTmyjPe41PhJ9Hh64HP/BukqUn4DGNV3Q=" />

        <!-- Enables the Android Pay API -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Playlists"
            android:label="@string/playlists" />
        <activity
            android:name=".Artists"
            android:label="@string/artists" />
        <activity
            android:name=".Albums"
            android:label="@string/albums" />
        <activity
            android:name=".Songs"
            android:label="@string/songs" />
        <activity
            android:name=".Genres"
            android:label="@string/genres" />
        <activity
            android:name=".EAudioPlayer"
            android:label="@string/title_activity_eaudio_player" />
        <activity
            android:name=".BuyMusicActivity"
            android:label="Buy Music" />
        <activity
            android:name=".ConfirmationActivity"
            android:label="Confirmation" />
        <activity
            android:name=".ThankYouActivity"
            android:label="Thank you!" />
        <activity android:name=".EAudioPlayer2"></activity>
    </application>

</manifest>